.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;

  padding: 16px 0;
}

.nav li {
  margin: 0 12px;
}

.nav a:hover {
  color: var(--color-accent);
}

/* nav:not([data-scroll="0"]) .nav {
  background-color: var(--color-opacity-accent);
} */
