html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-accent: hsla(245, 100%, 95%, 1);
  --color-opacity-accent: hsla(245, 100%, 95%, 0.8);
  --color-link: #e8a;
  --yoga-font: "Yoga Sans", "Hi Melody";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
